body {
    background-color: #455d7a;
}

button {
    width: 10rem;
    margin: 0 1rem;
}

.field {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    /* margin: 0 auto; */
}

.cell {
    border: 1px solid #dbd8e3;
    width: calc(100% / 10);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.bgGreen {
    background-color: #53a8b6;
}